/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

p {
	margin: 20px 0;
	line-height: 25px;
}

/* Navbar */
#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f54642;
	color: #333;
	position: sticky;
	top: 0;
	z-index: 1;
	padding: 30px;
	height: 50px;
}

#navbar .logo {
	margin-left: 125px;
}

#navbar ul {
	list-style: none;
	display: flex;
	align-items: center;
	margin-right: 100px;
}

#navbar ul li a {
	color: #333;
	padding: 12px;
	margin: 0 5px;
}

#navbar ul li a:hover,
#navbar ul li a.current {
	background-color: #89c2f0;
	border-radius: 10px;
	color: #fff;
}

/* Showcase */
#showcase {
	display: flex;
	height: 80vh;
	align-items: center;
	background-color: #d1e2e9;
}

.showcase-text {
	display: flex;
	flex-direction: column;
	text-align: center;
	flex-basis: 40%;
	padding: 10px 20px;
	margin-bottom: 40px;
	background-color: #d1e2e9;
}

.showcase-text .shop-now-btn {
	display: inline-block;
	color: #fff;
	background: #fc7c7c;
	padding: 13px 20px;
	margin: 15px 0;
	cursor: pointer;
	width: 40%;
	align-self: center;
}

.showcase-img {
	background: url("./img/showcase.png") no-repeat center center/cover;
	flex-basis: 60%;
	height: 80vh;
}

/* Ad */
#ad {
	background: #f4f4f4;
}

#ad .ad-container {
	width: 1400px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

#ad .card {
	display: flex;
	align-items: center;
	margin: 30px;
}

#ad .card .card-text {
	padding: 39px;
	margin-left: -30px;
	border-radius: 0 30px 30px 0;
}

/* About Info */
#about-info {
	background: #f4f4f4;
	color: #333;
	padding: 30px 0;
}

#about-info .container {
	display: flex;
}

#about-info .info {
	flex-basis: 50%;
	text-align: justify;
}

#about-info .about-img {
	flex-basis: 50%;
	margin-top: 30px;
}

#about-info .about-img img {
	display: block;
	margin: -30px auto 0 auto;
	width: 70%;
	border-radius: 30%;
}

/* Testimonials */
#testimonials .testimonials-container {
	display: flex;
	justify-content: space-between;
}

.testimonial {
	position: relative;
	padding: 50px;
	background-color: #fff;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
	transition: all 300ms ease-in-out;
	text-align: center;
	border-radius: 15px;
	width: 450px;
}

.testimonial:hover {
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
	transform: translateY(-16px);
}

.testimonial span {
	position: absolute;
	top: 2%;
	left: 50%;
	font-size: 192px;
	font-family: sans-serif;
	color: #ff7c9c;
	line-height: 1;
	transform: translate(-50%, 0);
}

.testimonial p {
	margin: 32px 0 16px 0;
}

.testimonial .img-cover {
	border-radius: 50%;
	width: 128px;
	height: 128px;
	overflow: hidden;
	margin: 0 auto;
}

.testimonial .img-cover img {
	height: 100%;
	object-fit: cover;
}

.testimonial h4 {
	margin-top: 16px;
}

/* Featured Products */
#featured-products,
#main-products {
	padding: 70px 0;
}

#featured-products .featured-container,
#main-products .main-container {
	width: 1400px;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

#featured-products .card,
#main-products .card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 35px 15px;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
	background: #f54642;
	transition: 0.3s ease;
	cursor: pointer;
}

#featured-products .card:hover,
#main-products .card:hover {
	transform: scale(1.01);
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

#featured-products .card .card-image img,
#main-products .card .card-image img {
	width: 225px;
	height: 200px;
}

#featured-products .card .card-text,
#main-products .card .card-text {
	padding: 20px 0px;
	line-height: 0.8;
	color: #333;
}

#featured-products .card .card-text h2,
#main-products .card .card-text h2 {
	font-size: 22px;
	text-align: left;
	padding: 0 5px;
}

#featured-products .card .card-text p,
#main-products .card .card-text p {
	font-size: 25px;
	text-align: center;
}

.order-btn {
	width: 70%;
	padding: 16px 30px;
	margin-top: -12px;
	margin-bottom: 10px;
	background: #89c2f0;
	color: #333;
	border: none;
	cursor: pointer;
	border-radius: 30px;
	font-weight: bolder;
}

.order-btn:hover {
	background: #65afec;
	color: #fff;
}

/* Icons */
#icons {
	background: linear-gradient(to right, #baffb4, #89c2f0);
	color: #333;
}

#icons .container {
	display: flex;
	padding: 30px;
	justify-content: space-between;
	text-align: center;
}

#icons .box h3 {
	font-size: 20px;
	margin-bottom: 15px;
}

#icons .box i {
	margin: 0 5px;
}

#icons .box img {
	width: 150px;
	margin: 0 10px;
}

/* Footer */
#footer {
	background: #222;
	color: #f4f4f4;
}

#footer .footer-container {
	display: flex;
	width: 1400px;
	margin: auto;
	padding: 25px 15px;
	justify-content: space-between;
}

#footer .extras,
#footer .information,
#footer .account,
#footer .contact {
	display: flex;
	flex-direction: column;
}

#footer .extras a,
#footer .information a,
#footer .account a,
#footer .contact div {
	margin: 8px 0;
}

#footer .extras h3,
#footer .information h3,
#footer .account h3,
#footer .contact h3 {
	margin-bottom: 10px;
}

#footer .extras a:hover,
#footer .information a:hover,
#footer .account a:hover,
#footer .contact div:hover {
	color: #c2bcbc;
}
